.row{
padding: 1.2em !important;
padding-top: 0 !important;
}
div#inputBox{
	width: 98%;
	margin:auto;
	background-color: white;
}
p{
	font-family: serif;
	color: cornflowerblue;
	font-size: 23px;
	padding-left: 15px;
	
}

div#resultBox{
	width: 98%;
	margin:auto;
	background-color: white;
}	
	.exportButton {
        float: right !important;
        margin: 0.5em !important;
		width: 19%;
		height: 60%;
		background-color: #ffffff;
		border: none;
    }
	.exportButton img{
		width:100% !important;
	}
